* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.container nav.desk,
.container nav.mob{
    width: 100%;
    background: transparent;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
}
nav.desk {
    grid-area: 2/2;
}
nav.desk ul {
    list-style: none;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}
nav.desk ul li {
    font-size: 4vh;
    width: 20%;
    float: right;
    text-align:center;
    line-height: 60px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}
nav.desk ul li:hover{
    background: black;
}
nav.desk ul li:active{
    background: black;
}
nav ul li a {
    color: beige;
    text-decoration: none;
}
nav.mob,
.hamburger-btn {
    display: none;
}
.header {
    background: url("/MyPortfolioFinal/images/computer.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.name-text {
    color: grey;
    font-size: 5vh;
}

.divider {
    background: grey;
    width: 100%;
    height: .5vh;
    grid-area: 3/1;
}

.wrapper {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr ;
}
main h1 {
    grid-area: 2/1;
}
main h2 {
    grid-area: 3/1;
    text-align: right;
}
main img {
    width: 300px;
    height: 300px;
}
@media screen and (max-width: 950px){
    nav.desk{
        display: none;
    }
    nav.mob,
    .hamburger-btn{
        display: block;
    }
    .hamburger-btn .fa-bars,
    .hamburger-btn .fa-times {
        position: fixed;
        right: 25px;
        top: 15px;
        font-size: 35px;
        color: #fff;
        cursor: pointer;
    }
    .mob ul{
        margin-top: 60px;
        background: rgba(0, 0, 0, 0.2);
        list-style-type: none;
        display: none; 
        color: #fff;
        text-decoration-color: white;

    }
    .mob li {
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        cursor: pointer;
    }
    .mob ul.active{
        display: block;
    }
    .wrapper{
        font-size: 2.5vh;
    }
    
    main h2 {
        text-align: right;
    }

}

