
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    height: 70px;
    width: 70px;
}
 header {
     display: flex;
     width: 90%;
     margin: auto;
     height: 9vh;
     align-items: center;
 }
 .logo-container, .nav-links{
     display: flex;
 }

 .logo-container {
     flex: 1;
 }
 nav {
     flex: .8;
 }
.logo {
    font-weight: 400;
    margin: 5px;
 }
.nav-links {
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    color: grey;
    font-size: 5vh;
    text-decoration: none;
}
.name-text {
    color: grey;
    font-size: 8vh;
}
.divider {
    background: grey;
    width: 120%;
    height: .5vh;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 50vh;
}